* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

/* HEADER */
#header-fullwidth {
    background: linear-gradient(180deg, #000000, #202020);
    opacity: 0.9;
    width: 100vw;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/* HEADER LEFT */
.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    height: 20px;
    margin: 5px 20px 0;
}

.header-left ul li {
    display: inline;
}

.header-left ul li a {
    font-size: 14px;
    color: #b5b5b5;
    padding: 0 10px;
}

.header-left ul li a:hover,
.header-right a:hover {
    color: #fff;
}
/* HEADER RIGHT */
.header-right {
    display: flex;
    align-items: center;
}

.header-right-search {
    position: relative;
}

.header-right-search i {
    position: absolute;
    right: 20px;
    top: 3px;
    cursor: pointer;
}

.header-right-search input {
    padding: 3px 40px 3px 20px;
    margin-right: 10px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
}

.header-right-profile {
    display: flex;
    align-items: center;
    transition-duration: 0.2s;
}

.header-right a {
    font-size: 14px;
    color: #b5b5b5;
    padding: 0 20px;
}

.header-right-profile i {
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
    cursor: pointer;
}

.header-right-profile i:hover {
    color: #daa520;
}

.header-right-profile img {
    width: 40px;
    cursor: pointer;
    margin: 0 20px;
}
/* MAIN */
#main-fullwidth {
    width: 100vw;
    min-height: 100vh;
    background-color: #202020;
}

main {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 20px;
}

.card {
    flex-basis: 240px;
    height: 365px;
    padding: 10px;
    background-color: #141414;
    transition-duration: 0.3s;
    margin: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.card:hover {
    transform: scale(1.1);
    border-radius: 40px;
    cursor: pointer;
}

.card h3 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: lightgrey;
    padding: 20px 0 5px;
}

.card p {
    color: darkgrey;
    font-size: 14px;
}

.card i {
    color: #dda520;
    padding: 10px 2px;
}

.card .flag {
    width: 25px;
    margin-top: 10px;
}

.card .cover {
    width: 220px;
    height: 345px;
    display: block;
    border-radius: 10px;
}

.card .back,
.card .back-click {
    display: none;
}

.card .back-click h3 {
    font-size: 12px;
}

.card .back-click p{
    font-size: 12px;
    text-align: left;
    padding: 5px 20px;
    overflow-y: auto;
}

@media screen and (max-width: 1050px) {
    .header-right-profile a,
    .header-right-profile i {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .header-right-profile img {
        margin-left: 0;
    }
    .header-left ul li a {
        padding: 0 5px;
    }
}

@media screen and (max-width: 820px) {
    .header-left {
        width: 50%;
        justify-content: center;
    }
    .header-left ul li{
        display: none;
    }
    .header-right-profile img {
        margin-left: 20px;
    }
}

@media screen and (max-width: 560px) {
    .header-right-profile img {
        display: none;
    }
    .header-right-search {
        margin-right: 30px;
    }
}

@media screen and (max-width: 480px) {
    header {
        justify-content: center;
        flex-wrap: wrap;
    }
    .header-left img {
        margin: 0;
    }
    .header-right-search {
        margin-right: 0;
    }
}
